LOG_LEVEL=INFO
ERROR_LOG_PATH=error.log

DISCORD_TOKEN=

DB_PATH=keywords.db

DEFAULT_COOLDOWN=30

# Holodex live notify config
HOLODEX_ORG=hololive
HOLODEX_CHANNEL_IDS=UCxxxxxx,UCyyyyyy
HOLODEX_NOTIFY_LIVE_CHANNEL_ID=
HOLODEX_NOTIFY_UPCOMING_CHANNEL_ID=
HOLODEX_NOTIFY_UPLOAD_CHANNEL_ID=
HOLODEX_POLL_INTERVAL=60
HOLODEX_API_KEY=
HOLODEX_MEMORY_LIMIT=1000