# Log
LOG_LEVEL=INFO
ERROR_LOG_PATH=error.log

# Discord
DISCORD_TOKEN=

# General
DB_PATH=keywords.db
DEFAULT_COOLDOWN=30
NOTIFICATION_MAX_DESCRIPTION_LENGTH=150
MENTIONED_EMOJI=<:hoeh:1484208659658576143>

# Holodex
HOLODEX_ORG=Hololive
HOLODEX_CHANNEL_IDS=UCxxxxxx,UCyyyyyy
HOLODEX_NOTIFY_LIVE_CHANNEL_ID=
HOLODEX_NOTIFY_UPCOMING_CHANNEL_ID=
HOLODEX_NOTIFY_UPLOAD_CHANNEL_ID=
HOLODEX_POLL_INTERVAL=60
HOLODEX_API_KEY=
HOLODEX_MEMORY_LIMIT=1000